<%+header%>
<div class="cbi-map" id="cbi-obhod">
	<h2 name="content"><%:Obhod VPN%></h2>
	<div class="cbi-map-descr"><%:Reliable selective VPN routing for OpenWrt.%></div>
	<div id="view-obhod-main">
		<img src="<%=resource%>/icons/loading.gif" alt="Loading..." style="vertical-align:middle" />
		<%:Loading view…%>
	</div>
</div>

<script type="text/javascript">//<![CDATA[
	L.require('view.obhod.main').then(function(view) {
		var v = new view();
		v.render().then(function(node) {
			var container = document.getElementById('view-obhod-main');
			container.innerHTML = '';
			container.appendChild(node);
		});
	});
//]]></script>
<%+footer%>
